* {
    margin: 13;
    padding: 30;
}

.cabecalho {
    background-color: #884152;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 34px 10;
}

.cabecalho-imagem{
    width: 16%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagem{
    width: 30%;
}

.escola{
    background-image: linear-gradient(#ddd161);
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 0;
}

.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 26px 0;
}
